# Good Reference
# https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

bin
obj
*.user
*.suo
*.nupkg
*.orig
*.sarif
TestResults/
FakesAssemblies/
publish/

//azurite artifacts
__azurite*

# Native Stuff
*.sdf
*.opensdf
*.ipch
*.aps
[Dd]ebug/
[Rr]elease/
x64/

# NuGet Packages
**/packages/*
#!**/packages/repositories.config

# githooks specific
githooks/*.dll

# ncrunch related
*.ncrunchproject
*.ncrunchsolution
_NCrunch_*/

# weird new VS2015 thing
*.VC.opendb
*.VC.db
# VS/VSCode dirs
.vs/
.vscode/

*.tag

*.pfx

#intellij stuff
.idea